<%
var joinStr = theme.title_join_string
var title = config.title
if (page.title) {
  title = [page.title, title].join(joinStr)
}
%>

<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <% if (theme.force_https) { %>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <% } %>
  <meta name="theme-color" content="<%- theme.color.navbar_bg_color %>">
  <meta name="description" content="<%= config.description %>">
  <meta name="author" content="<%= config.author %>">
  <meta name="keywords" content="<%= config.keywords %>">
  <meta name="google-site-verification" content="IB4F-abROYnG2u94_aPCUVw13RrwRoBVqKS9K2Y9Trc" />

  <link rel="dns-prefetch" href="//cdn.staticfile.org/">
  <link rel="dns-prefetch" href="//cdn.bootcdn.net/">

  <% const prev = prev_page(page) %>
  <% if (prev) { %>
    <link rel='prev' title='<%- prev.title %>' href='<%= url_for(prev.path) %>' />
  <% } %>

  <% const next = next_page(page) %>
  <% if (next) { %>
    <link rel='next' title='<%- next.title %>' href='<%= url_for(next.path) %>' />
  <% } %>

  <link rel="apple-touch-icon" sizes="76x76" href="<%- url_for(theme.apple_touch_icon) %>">
  <link rel="icon" type="image/png" href="<%- url_for(theme.favicon) %>">

  <%- partial('_partial/css.ejs') %>
  <%- js_ex(theme.static_prefix.internal_js, 'utils.js') %>
  <%- js_ex(theme.static_prefix.internal_js, 'color-schema.js') %>
</head>
